.button {
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 1.8rem;
    padding: $m-size;
    border-radius: 5px;
    border: none;
    line-height: 1;
    text-decoration: none;
}

.button--link {
    background: none;

}

.button--secondary {
    color: black;
    background-color: white;
    border: 1px solid grey;
}

.button:hover {
    background-color: orange;
    color: $dark-grey;   
}